@import '../variables';

.cart__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-block: 30px;
  gap: 6px;

  @media (max-width: 767px) {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  &-info {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-counter {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .button {
    @media (max-width: 767px) {
      width: 24px;
    }
  }
}