@import '../variables';

.cart {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: start;
    }
  }

  .content__title {
    display: flex;
    align-items: center;
    font-size: 32px;

    svg {
      position: relative;
      top: -2px;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      path {
        stroke: $black;
        strokeWidth: 1.9;
      }
    }
  }

  &__clear {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include noselect();

    span {
      display: inline-block;
      margin-left: 7px;
      color: #b6b6b6;
      font-size: 18px;
    }

    span,
    svg,
    path {
      transition: all $duration ease-in-out;
    }

    &:hover {
      svg {
        path {
          stroke: darken($color: #b6b6b6, $amount: 50);
        }
      }
      span {
        color: darken($color: #b6b6b6, $amount: 50);
      }
    }
  }

  .content__items {
    // display: block;
  }

  &__bottom {
    margin: 50px 0;

    &-details {
      display: flex;
      justify-content: space-between;

      @media (max-width: 600px) {
        flex-direction: column;
      }

      span {
        font-size: 22px;

        &:last-of-type {
          b {
            color: $orange;
          }
        }
      }
    }

    &-buttons {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      margin-top: 40px;

      @media (max-width: 600px) {
        flex-direction: column;
      }

      .go-back-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;

        @media (max-width: 600px) {
          width: 100%;
        }

        border-color: darken($color: $gray-line, $amount: 10);

        span {
          color: darken($color: $gray-line, $amount: 20);
          font-weight: 500;
          font-weight: 600;
        }

        &:hover {
          background-color: darken($color: $gray-line, $amount: 90);
          border-color: darken($color: $gray-line, $amount: 90);

          span {
            color: $gray-line;
          }
        }

        svg {
          margin-right: 12px;
          path {
            fill: transparent;
            strokeWidth: 2;
          }
        }
      }

      .pay-btn {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        justify-content: center;
        width: 210px;
        padding: 16px;

        @media (max-width: 600px) {
          width: 100%;
        }
      }
    }
  }

  &--empty {
    margin: 80px auto;
    max-width: 620px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;

    h2 {
      // font-size: clamp(16px ,32px ,36px);
      font-weight: 700;
      margin-bottom: 15px;
      font-size: clamp(1.5rem, 1rem + 2vw, 2rem);
    }

    p {
      font-size: clamp(0.35rem, 0.55rem + 2vw, 1.25rem);
      line-height: 145.4%;
      letter-spacing: 0.01em;
      color: #777777;
    }

    icon {
      position: relative;
      top: 2px;
    }

    img {
      object-fit: cover;
      max-width: 300px;
      margin: 0 auto;

      @media (max-width: 360px) {
        display: none;
      }
    }

    .button--black {
      max-width: 210px;
      width: 100%;
      justify-content: center;
      margin: 0 auto;
      font-weight: 600;
      font-size: 18px;
    }
  }
}