@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    @media (max-width: 950px) {
      flex-direction: column;
      align-items: start;

      // .header__cart {
      //   margin-top: 20px;
      // }
    }
  }

  &__logo {
    display: flex;
    text-transform: capitalize;
    align-items: center;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      font-weight: 700;
    }

    p {
      color: #7b7b7b;
    }
  }
}
