.NotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding-block: 100px;

  &__title {
    font-weight: 550;
  }

  &__text {
    font-size: 22px;
  }
}