@import './variables';
@import './libs/normalize';

@import './components/all';

body {
  background-color: $background;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;

  @media (max-width: 645px) {
    width: calc(100vw - 30px);
    margin-top: 15px;
  }
}

.content {
  padding: 40px 0;

  &__error-info {
    margin: 100px auto;
    width: 500px;
    text-align: center;

    h2 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    p {
      font-size: 20px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 38px;
    margin-top: 60px;
    margin-bottom: 50px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 35px;

    @media (max-width: 1400px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 1060px) {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }

    @media (max-width: 730px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1260px) {
      .categories {
        width: 100%;
        overflow: auto;

        ul {
          width: 785px;
        }
      }

      .sort {
        padding-left: 20px;
        b {
          display: none;
        }
      }
    }

    @media (max-width: 760px) {
      align-items: start;
      .categories {
        ul {
          li {
            padding: 8px 20px;
          }
        }
      }
    }

    @media (max-width: 820px) {
      .categories {
        margin-top: 30px;
      }
      flex-direction: column-reverse;
    }
  }
}

.container {
  width: $container-width;
  margin: 0 auto;

  &--cart {
    max-width: 820px;
    margin: 30px auto;
    .content__title {
      margin: 0;
    }
  }
}

.search {
  border: 1px solid #00000033;
  border-radius: 50px;
  padding: 10px 15px;
  max-width: 350px;
  width: 100%;
  font-size: 16px;

  @media (max-width: 1100px) {
    max-width: 250px;
  }
}